body {
    background-color: #ddf;
    color: darkslategray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

main {
    padding: 40px 0;
}

a {
    color: darkslategray;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-nav,
.nav-item,
.nav-link {
    display: inline;
    padding: 8px;
}


/* FrontMatter */

main>header {
    text-align: center;
    line-height: 1.5;
    max-width: 1250px;
    width: 90%;
    margin: 0 auto;
}

main>header>h1 {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 40px;
}

main>header>h2 {
    font-size: 20px;
    font-style: italic;
    opacity: .9;
    margin-bottom: 20px;
    max-width: 60%;
    margin: 0 auto 2rem auto;
}


/* Index page style */

.flex-sections {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    max-width: 1250px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .3);
    background-color: #eef;
    border-radius: 5px;
}

.meetup-desc {
    padding: 25px;
    max-width: 800px;
    margin: 30px;
}

.meetup-desc>h3 {
    line-height: 1.6;
    font-size: 16px;
    opacity: .7;
}

.meetup-desc {
    width: 50%;
}

@media(max-width: 800px) {
    .flex-sections {
        display: block;
        Padding: 10px;
    }
    .meetup-desc {
        margin: 20px auto 0;
        width: 100%;
    }
}


/* Carousel Slider on Index */

.carousel.slide {
    max-width: 500px;
    margin: 0 15px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
}

header>img {
    width: 100%;
}

img {
    width: 100%;
}

.past-meetups {
    width: 80%;
    margin: 20px auto;
}

.meetup h4 {
    padding: 20px 0;
}

.locations img {
    height: 500px;
}

.meetup {
    width: 100%;
    margin: 20px auto;
    background-color: white;
}

.meetup img {
    width: 80%;
    display: block;
    margin: 0 auto;
    padding: 20px;
}

@media (min-width: 500px) {
    header>img {
        width: 20%;
    }
    .meetup {
        width: 80%;
    }
}