
body {
    background-color: #eee;
    color: darkslategray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
main {
    width: 100%;
    display: block;
    margin: 0 auto;
    background-color: white;
    padding: 40px 0;
}
h1, h2, h3, h4 {
    text-align: center;
}
h1 {
    font-size: 30px;
    line-height: 35px;

}
h2 {
    font-size: 24px;
    line-height: 30px;
}
a {
    color: darkslategray;
}


header > img {
    width: 100%;
}
img {
    width: 100%;
}

.past-meetups {
    width: 80%;
    margin: 20px auto;
    background-color: lightblue;
    padding: 40px;
}
.meetup h4 {
    padding: 20px 0;
}
.meetup {
    width: 100%;
    margin: 20px auto;
    background-color: white;
}
.meetup img {
    width: 80%; 
    display: block;
    margin: 0 auto;
    padding: 20px;
}

@media (min-width: 500px) {
    header > img {
        width: 20%;
    }
    .meetup {
        width: 80%;
    }
}